body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

.h2-title {
    text-align: center;
    color: #007BFF;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.table-style {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-style th,
.table-style td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.table-style th {
    background-color: #007BFF;
    color: white;
}

.table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-style tr:hover {
    background-color: #eaf3ff;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-secondary {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.btn-secondary:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.btn-danger:hover {
    background-color: #c82333;
}

/*    */
.back_link {
    color: #ffffff;
    text-decoration: none;
}

form {
    display: inline;
}

form.input{
    background-color: #aba6a14a;
    padding: 15px;
    border-radius: 5px;
}